extends layouts/login-layout.pug

block content

	.loginContainer
	        h1 Paypal
	        form(method="post")

	          	a(href='/payment') Payment

	            input(type="submit", value="Login")